@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: url("bg.jpeg");
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-color: #009dff;
    backdrop-filter: blur(2px);
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 430px;
    width: 100%;
    background: #fff;
    border-radius: 7px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
}

.container .form {
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
}

.form header {
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
}

.form input {
    height: 60px;
    width: 100%;
    padding: 0 15px;
    font-size: 15px;
    margin-bottom: 1.3rem;
    border: 1px solid #ddd;
    border-radius: 6px;
    outline: none;
    border-color: #0088ff;
}

.form input:focus {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.form a {
    font-size: 16px;
    color: #009dff;
    text-decoration: none;
}

.form a:hover {
    text-decoration: underline;
}

.form input.button {
    color: #fff;
    background: #009dff;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 1rem;
    cursor: pointer;
    transition: 0.4s;
}

.form input.button:hover {
    background: #0088ff;
}

.signup {
    font-size: 17px;
    text-align: center;
}

.signup label {
    color: #009dff;
    cursor: pointer;
}

.signup label:hover {
    text-decoration: underline;
}

#emailicon {
    left: 10px;
    transform: translate(1760%, 230%);
    font-size: 18px;
    color: #0088ff;
}

.fas.fa-lock {
    left: 10px;
    transform: translate(1870%, 665%);
    font-size: 18px;
    color: #0088ff;
}

#l2 {
    left: 10px;
    transform: translate(1405%, 935%);
    font-size: 18px;
    color: #0088ff;
}

@media screen and (max-width: 600px) {
    .form header {
        font-size: 1.5rem;
    }
}